## --- Visual Studio ---
# Пользовательские настройки (окна, точки остановки и т.д.)
*.user
*.suo
*.sln.docstates

# Папка с базой данных IntelliSense и кэшем (самая тяжелая)
.vs/

# Выходные папки компиляции (бинарники и объекты)
[Dd]ebug/
[Rr]elease/
x64/
x86/
ARM/
ARM64/

# Файлы промежуточной сборки
*.obj
*.pch
*.tlog
*.lastbuildstate
*.idb
*.pdb
*.ilk
*.exp
*.res

# Файлы анализа и профилирования
*.psess
*.vsp
*.vspx
*.sap

## --- Общие для C ---
# Библиотеки
*.lib
*.dll
*.exe

# Временные файлы компилятора MSVC
*.sdf
*.opensdf
*.VC.db
*.VC.opendb

## --- Системные файлы ---
.DS_Store
Thumbs.db